.marker {
  width: 41px;
}

.overlap-marker {
  width: 30px;
}

.cluster-marker {
  flex-direction: column;
  display: flex;
  width: 35px !important;
  border-radius: 30px;
  height: 35px !important;
  justify-content: center;
  align-items: center;
}

.cluster-marker div {
  flex-direction: column;
  display: flex;
  border-radius: 15px;
  width: 25px !important;
  height: 25px !important;
  justify-content: center;
  align-items: center;
}

.base-cluster-marker {
  background-color: rgba(110, 204, 57, 0.3);
}
.base-cluster-marker div {
  background-color: rgb(31, 168, 72, 0.6);
  color: white;
}

.vehicle-cluster-marker {
  background-color: rgba(255, 0, 0, 0.3);
}
.vehicle-cluster-marker div {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}
