/* Global marker properties */
.marker {
  width: 41px;
}

.increased-marker img {
  transform: scale(1.5, 1.5);
  opacity: 1;
  filter: grayscale(0);
}

.disabled-marker{
  opacity: 0.55;
  filter: grayscale(1);
}

.overlap-marker {
  width: 30px;
}

.leaflet-tooltip {
  padding: 0px !important;
  border-radius: 6px !important;
}

/* Clusters */
.cluster-marker {
  flex-direction: column;
  display: flex;
  width: 35px !important;
  border-radius: 30px;
  height: 35px !important;
  justify-content: center;
  align-items: center;
}

.cluster-marker div {
  font-weight: bold;
  font-size: 14px;
  flex-direction: column;
  display: flex;
  border-radius: 15px;
  width: 25px !important;
  height: 25px !important;
  justify-content: center;
  align-items: center;
}

.base-cluster-marker {
  background-color: rgba(110, 204, 57, 0.3);
}
.base-cluster-marker div {
  background-color: rgb(31, 168, 72, 0.6);
  color: white;
}

.vehicle-cluster-marker {
  background-color: rgba(255, 57, 57, 0.3);
}
.vehicle-cluster-marker div {
  background-color: rgba(255, 57, 57, 0.6);
  color: white;
}

/* CSS for drag and drop event hack */
.leaflet-marker-draggable {
  z-index: 999999 !important;
}

.dragging-disabled {
  pointer-events: none !important;
}
